<%= render 'form', menu: @menu %>
<div id="content"></div>
<script>
  function hndlr(response) {
    for (var i = 0; i < response.items.length; i++) {
      var item = response.items[i];
      // in production code, item.htmlTitle should have the HTML entities escaped.
      document.getElementById("content").innerHTML += "<img src='" + item.pagemap.cse_image[0].src + "' width='200' height='200' >";
    }

  }
</script>
<script src=""></script>
