<% content_for :meta_title do %>
  Home
<% end %>

<!-- loader -->
<div id="loading-layer">
  <div class="img">
    <%= image_tag "https://res.cloudinary.com/kayimg/image/upload/v1543399643/loading-blue.gif" %>
    <div>scanning the menus...</div>
  </div>
</div>

<div class="main-wrapper">
  <h1><%= image_tag "cover.png" %></h1>
  <!-- <h1 class="alt"><%= image_tag "logo-alt.png" %></h1> -->
  <div id="video-container">
    <video autoplay muted loop playsinline class="video">
      <!-- <source src="https://res.cloudinary.com/kayimg/video/upload/v1543399513/mirumov.mp4" type="video/mp4"> -->
      <source src="https://res.cloudinary.com/kayimg/video/upload/v1543477862/mirumov.mp4" type="video/mp4">
    </video>
    <canvas class="canvas"></canvas>
  </div>
  <div>
    <%= render 'form', menu: @menu %>
  </div>
</div>

<script>
  // auto submit when selected a file
  var loadingScreen = document.querySelector("#loading-layer");
  if (loadingScreen) {
    loadingScreen.classList.remove("on");
  }
  document.getElementById("menu_photo").onchange = function() {
    document.getElementById("loading-layer").classList.add("on");
    document.getElementById("video-container").classList.add("off");
    setTimeout(function() {
      console.log('now');
      document.getElementById("new_menu").querySelector(".btn").click();
    }, 1000);
  };

  var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
  if (isIOS) {
      var canvasVideo = new CanvasVideoPlayer({
          videoSelector: '.video',
          canvasSelector: '.canvas',
          timelineSelector: false,
          autoplay: true,
          makeLoop: true,
          pauseOnClick: false,
          audio: false
      });
  }else {
    // Use HTML5 video
    document.querySelectorAll('.canvas')[0].style.display = 'none';
  }

  var promise = document.querySelector('video').play();
  if (promise !== undefined) {
      promise.catch(error => {
          // Auto-play was prevented
          // Show a UI element to let the user manually start playback
      }).then(() => {
          // Auto-play started
      });
  }
</script>
