<div class="main-wrapper">
  <div class="logo-container">
    <%= image_tag "logo.png", class: "" %>
  </div>
  <%= render 'form', menu: @menu %>
</div>

<div id="loading-layer">
  <div class="img">
    <%= image_tag "loading-animations.gif" %>
    <div>scanning the menus...</div>
  </div>
</div>

<script>
  // auto submit when selected a file
  document.getElementById("menu_photo").onchange = function() {
    document.getElementById("new_menu").submit();
    document.getElementById("loading-layer").classList.add("on");
  };
</script>
