// Define variables for your color scheme

$navbar-gray: #303639;
$very-dark-gray: #4E4E4E; // for order page top banner
$dark-gray: #626B71;
$gray: #8A8A8A;
$light-gray: #ECECEC;
$orange: #FF7800;
$dark-beige: rgb(156, 145, 103); // for menu summary header letter color
$beige: #EBE0B6;
$light-beige: #F9F1D2;


// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;


$yellow: #FFF500;
$grey: #999999;
