// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|M+PLUS+1p:400,700|Source+Sans+Pro');

// Define fonts for body and headers
$body-font: "Bree Serif", "M Plus 1p", "Source Sans Pro", "Helvetica", "Arial", "sans-serif";
$headers-font: "Bree Serif", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$font-size-paragraph: 12px;
