#common-top {
  position: fixed;
  top: 0;
  width: 100%;
  background: $navbar-gray;
  height: 50px;
  z-index: 3;

  .top-back {
    position: absolute;
    padding: 10px 15px;
    color: #fff;
  }

  h1 {
    margin: 0;
    padding: 12px 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    height: 35px;
    overflow: hidden;
    text-transform: uppercase;
  }
}

.top-back {
  &:focus {
    animation: nextPage 1s linear;
  }
}

@keyframes nextPage {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-5px);
  }
}
