// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "nprogress"

body {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: white;
}
