// mobile
.body-wrapper {

}

.body-container {

}

.phone-overlay svg {
  visibility: hidden;
}

// for laptop
@media screen and (min-width: 768px) {
  .body-wrapper {
    background-color: black;
    min-height: 100vh;
    display: flex;
  }

  .phone-overlay {
    position: relative;
    margin: 0px auto;
    padding: 70px 0;
    width: 310px;
    height: 634px;
  }

  .phone-overlay svg {
    visibility: visible;
  }

  .body-container {
    position: absolute;
    width: 272px;
    height: 494px;
    top: 140px;
    left: 20px;
    overflow: hidden;
    border-radius: 5px;
  }

  #form-container label {
    position: absolute;
    top: 350px;
  }

}
