<div class="container" id="common-bottom">
  <div class="row">
    <!-- camera -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <!-- bag -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-shopping-bag"></i>
      <!-- if cart is empty add 'empty' class -->
      <span class="cart-num empty"></span>
      <!-- <span class="cart-num">3</span> -->
    <% end %>
    <!-- heart -->
      <%= link_to favourites_path, class: "bottom-icon" do %>
        <i class="fas fa-heart"></i>
          <% if @fav.length > 0  %>
            <span class="cart-num"><%= @fav.length %></span>
          <% end %>
      <% end %>
  </div>
</div>
