<div class="container">
  <div class="row">
    <div class="col-sm bot-bar">
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-camera"></i>
      <% end %>
      <h3 class=qty-ordered>Items to order : <strong>5</strong></h3>
    </div>
  </div>
</div>
