<div class="container">
  <div class="row">
    <div class="col-sm bot-bar">
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-camera"></i>
      <% end %>

      <%= link_to 'See Order List', root_path, class: "order-btn" %>

      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-heart"></i>
      <% end %>
    </div>
  </div>
</div>
