<div class="container">
  <div class="row">
    <div class="col-sm top-bar">
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-angle-left"></i>
      <% end %>
      <h2 class="heading">Results</h2>
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-sort-amount-down"></i>
      <% end %>
    </div>
  </div>
</div>
