<div class="order-list-summary">
  <table>
    <thead>
      <tr>
        <td class="table-margin-column"></td>
        <td>MENUS</td>
        <td>QUANTITY</td>
        <td class="table-margin-column"></td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <!-- need modifying with @food_title -->
          <td class="table-margin-column"></td>
          <td clas="not-big"><%= order.food.name %><span class="english">(<%= @food_title %>)</span></td>
          <td class="<%= "list-#{index} text-center bold" %>"></td>
          <td class="table-margin-column"></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td class="table-margin-column"></td>
        <td></td>
        <td class="total text-center">
          <%= @orders.map {|order| order.order}.sum %>
        </td>
        <td class="table-margin-column"></td>
      </tr>
    </tfoot>
  </table>
</div>
