<% @orders.each do |order| %>
  <div class="card-order-list active">
  <%= cl_image_tag(@results_with_data[order][0], width: 75, height: 75, crop: "fill", class: "img-circle" ) %>
  <div class="triangle-wrap">
    <div class="triangle"></div>
  </div>
  </div>
<% end %>
