<div class="index-wrapper">
  <div class="index-container">
    <div class="row">
      <% @menus.each do |menu| %>
        <div class="col-xs-6">
          <%= cl_image_tag(menu.photo) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
