<div class="index-wrapper">
  <div class="index-container">
    <div class="row" style="margin:0;">
      <div class="cards">
        <% counter = 0 %>
        <% @foods.each do |food| %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 1px;">
            <div class="cards">
              <% counter += 1 %>
              <div class="card">
                <%= cl_image_tag(@images[counter], class: "img") %>
                <div class="list">
                  <p><%= food.name %></p>
                  <p><i class="fas fa-shopping-cart"></i></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
