<div class="container result-container">
  <% @images.each do |src| %>
    <div class="row each-food">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pic-column">
        <div class="food-img-div"><img src="<%= src %>" /></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
        <dl class="food-description">
          <dt><%= @food_title %></dt>
          <dd><%= @food_summary %></dd>
        </dl>
        <div class="quantity"></div>
      </div>
    </div>
  <% end %>
</div>
