.card-team {
  display: block;
  text-align: center;
  min-width: 150px;
  height: 150px;
  a {
    text-decoration: none;
    color: $gray;
  }
  a:hover {
    text-decoration: none;
    color: $light-gray;
  }
}

.avatar {
  width: 70px;
}
