.bot-bar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #F4D500;
  z-index: 2;
}

.top-bar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  vertical-align: center;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
}

.nav-icon {
  color: grey;
  z-index: 4;
}

.heading {
  font-size: 24px;
  text-align: center;
  vertical-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}


.qty-ordered {
  font-size: 24px;
  text-align: right;
  vertical-align: center;
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 4;
}

.fa-heart,
.fa-camera {
  color: black;

}

.fa-heart:hover,
.fa-camera:hover {
  text-shadow: 3px 3px 16px #272634;
}