.bot-bar {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: yellow;
}

.top-bar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
    vertical-align: center;
  height: 50px;
  width: 100%;
  background-color: white;
}

.nav-icon {
  color: grey;
}

.heading {
  font-size: 24px;
  text-align: center;
  vertical-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
