.container-body {
  margin-top: 50px;
  margin-bottom: 50px;
}

.result-top {
  text-align:center;
  overflow-x: auto;
  background-color: $very-dark-gray;
}

.result-body {
  display: block;
  padding-top: 30px;
  width: 100%;
  max-width: 100% !important;
  padding:10px;
  text-align: center;
}


.food-description {
  h2 {
    font-size: $font-size-emphasize;
    margin: 10px 0;
  }
  h3 {
    font-size: 24px;
    color: $gray;
    margin: 10px 0;
  }
}

.quantity {
  display:flex;
  justify-content:space-around;
  align-items:center;
  height: 100px;
  .quantity-amount {
    text-align:center;
    // background:#f4f4f4;
    border:0;
    font-size:80px;
  }
  button {
    font-size: 70px;
    color: $gray;
    margin-top: 0 30px;
    background-color: $very-light-gray;
  }
  input {
    width: 100px;
    background-color: rgb(236, 236, 236);
  }
}
