.card-order-list {
  display: block;
  padding: 10px 10px 0 10px;
  position: relative;
}

.triangle-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $very-dark-gray transparent;
  position: relative;
  left: -50%;
}

.active {
  img {
    border: 3px solid $light-gray;
  }
  .triangle {
    border-color: transparent transparent $light-gray transparent;
  }
}
