.result-container {
  width: 100%;
  max-width: 100% !important;
  padding: 0;
}

.each-food {
  margin: 10px 0 10px;
  height: 141px;
  overflow: hidden;
}

.pic-column {
  padding: 0;
  margin: 0;

  .food-img-div {
    height: 100%;
  }

  .food-img-div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.food-description {
  font-size: $font-size-paragraph;
}