.result-container {
  width: 100%;
  max-width: 100% !important;
  padding:50px 10px;
}

.each-food {
  margin: 10px 0 10px;
  height: 141px;
  overflow: hidden;
}

.pic-column {
  padding: 0;
  margin: 0;

  .food-img-div {
    height: 100%;
  }

  .food-img-div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.food-description {
  font-size:$font-size-paragraph;
  dd {height:52px;overflow:hidden;}
}

.quantity {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:150px;
  .quantity-amount {width:50%;text-align:center;background:#f4f4f4;border:0;font-size:28px;}
  button {margin-top:3px;}
}
