.container-body {
  margin-top: 50px;
  margin-bottom: 50px;
}

.result-top {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: $very-dark-gray;
  padding: 15px 0;
}

.order-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  text-align: center;
}

.food-description {
  h2 {
    padding-top: 10px;
    margin: 0;
    font-size: $font-size-emphasize;
    color: #222;
    font-weight: bold;
  }

  h3 {
    padding-top: 3px;
    margin: 0;
    font-size: 22px;
    color: $gray;
  }
}

.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .quantity-amount {
    text-align: center;
    border: 0;
    font-size: 60px;
    color: #222;
    font-weight: bold;
  }

  button {
    font-size: 60px;
    margin-top: 0 30px;
    background-color: $very-light-gray;
  }

  input {
    width: 100px;
    background-color: rgb(236, 236, 236);
  }
}

.image-order {
  animation: movieInUp 1s linear;
}

.banner {
  .img-top {
    &:hover {}
  }

  .active {
    .img-top {
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
      animation: goUp 0.75s linear;

      &:active {
        border: 2px solid white;
      }
    }
  }
}

@keyframes goUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.card-result-body {
  padding-top: 30px;

  .card-result-body-img {
    display: inline-block;
    width: 120px;
    height: 120px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.quantity button,
.quantity input {
  margin: 0;
  background-color: white;
  overflow: hidden;
}

.quantity button:hover,
.quantity button:active {
  color: #909090;
}

.quantity button:focus {
  color: #909090;
}

.quantity-amount {
  animation: appearSlowly 1s linear;
}


.top-back {
  &:focus {
    animation: nextPage 1s linear;
  }
}

@keyframes nextPage {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-5px);
  }
}