.order-list-summary {
  width: 100%;
  table {
    width: 100%;
  }
  th {
    background-color: $beige;color:#4a432a;min-width:62px;
    padding:5px 0;font-size:12px;font-weight:bold;text-align:center;
  }
  th:first-child {padding-left:10px;border-right:1px solid #fff;text-align:left;}
  td {
    background-color: $light-beige;padding:5px;border-bottom:1px solid #EBE0B6;
    font-size:18px;color:#222;
    .english {color:#8a8a8a;}
  }
  td:first-child {padding-left:10px;border-right:1px solid #fff;}

  tfoot {
    background-color: $light-beige;
    border-top: $dark-beige solid 1px;
  }
  .bottom {border-top:2px solid #d4caa3;border-bottom:0;border-right:0 !important;}
  .sum {
    font-size:18px;
    text-align:center;}
}
