.order-list-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 15px 50px;
  border-color: transparent transparent $beige transparent;
  margin: 0 auto;
}

.order-list-summary {
  width: 100%;
  table {
    width: 100%;
  }
  thead {
    background-color: $beige;
    color: $dark-beige;
  }
  tbody {
    background-color: $light-beige;
    color: $dark-gray;
  }
  tbody td {
    border-bottom: $beige solid 1px;
  }
  tfoot {
    background-color: $light-beige;
    border-top: $dark-beige solid 1px;
  }
  .table-margin-column {
    border: none;
    width: 10px;
  }
}
