.search-container {
  width: 100%;
  max-width: 100% !important;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;

  .content {
    grid-column-start: auto;
  }




  .text-info {
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

  }

  .img-div {
    width: 100%;
    height: 160px;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .text-content {
    overflow: hidden;
    height: 40px;
    width: 75%;
    font-size: 14px;
    color: black;
    animation: movieInDown 0.5s linear;

    .p {
      font-weight: semi-bold;
    }

    .small {
      color: #626B71;
    }
  }

  .show-page {
    animation: movieInLeft 1s linear 2s;
    animation-fill-mode: backwards;

    .fa-angle-right {
      color: black;
    }

    .fa-angle-right:hover {
      cursor: pointer;
    }
  }
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.controller-sort-wrapper {
  width: 100%;
  background-color: #ECECEC;
  height: 10vh;
  margin-top: 50px;
  position: relative;
  font-size: 14px;
  font-weight: bold;

  .controller-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hello {
  height: 100vh;
  background-color: white;
}

.img-div {
  animation: appearSlowly 2s linear;
}

@keyframes appearSlowly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes movieInDown {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movieInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }


  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;

  color: white;
}

.bottom-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    margin: 0;
  }
}