.index-wrapper {
  .index-container {
    padding: 10px;

  }
}

.img {
  width: 100%;
  height: 75%;
}


.cards {

  margin-bottom: 0;


  .card {
    height: 25vh;

    .list {
      padding: 3px;
      height: 55px;
      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
      }

      .text p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .text #english {
        font-size: 15px;
      }


    }
  }
}

.fas {
  font-size: 20px;
}

.yellow-cart {
  color: #F66203;
}

.nav-container {
  padding: 10px;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  h3 {
    margin: 0;
    flex-grow: 1;
  }

  .left {
    flex-grow: 1;
  }
}
