#hello {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}

.search-container {
  width: 100%;
  max-width: 100% !important;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;

  .content {
    grid-column-start: auto;
  }

  .text-info {
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;


  }

  .img-div {
    position: relative;
    width: 100%;
    height: 160px;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-content {
    overflow: hidden;
    height: 40px;
    font-size: 14px;
    color: black;
    animation: movieInDown 0.5s linear;

    p {
      font-weight: semi-bold;
    }

    small {
      color: #626B71;
    }
  }

  .show-page {
    animation: movieInLeft 1s linear 1s;
    animation-fill-mode: backwards;

    .fa-angle-right {
      color: black;
    }

    .fa-angle-right:hover {
      cursor: pointer;
      animation: nextPage 1s linear;

    }

    .fa-angle-right:active {}
  }
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.controller-sort-wrapper {
  width: 100%;
  background-color: #ECECEC;
  height: 10vh;
  margin-top: 50px;
  position: relative;
  font-size: 14px;
  font-weight: bold;

  .controller-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#hello {
  background-color: white;
}

.img-div {
  animation: appearSlowly 2s linear;
}

@keyframes appearSlowly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes movieInDown {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movieInDownFast {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movieInUp {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movieInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }


  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes movieInRight {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }


  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: $navbar-gray;
  color: white;
  text-decoration: none;

  .row {
    display: flex;
    justify-content: space-between;
  }

  .bottom-icon {
    display: inline-block;
    position: relative;
    padding: 12px 25px;
    font-size: 28px;
    color: #fff;
    line-height: 0.8em;
  }

  .btn-order:link,
  .btn-order:visited {
    color: white;
    text-decoration: none;
  }

  .cart-num {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 12px 0 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $orange;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    line-height: 24px;
  }

  .cart-num.empty {
    display: none;
  }
}

.bottom-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    margin: 0;
  }
}

.link-food:hover {
  cursor: pointer;
  text-decoration: none;

}

.link-food:focus {
  cursor: pointer;
  text-decoration: none;
}

.link-food:link {}

.clicked {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.not-clicked {
  position: absolute;
  width: 100%;
  height: 160px;
  background-color: white;
  display: none;
}

.overlay-container {
  display: flex;
  width: 100%;
  height: 25vh;
  justify-content: space-around;
  align-items: center;
  font-size: 75px;
  color: #FF7800;
  animation: appearSlowly 0.5s ease-in;
}

.fa-check-circle:after {
  background-color: white;
  z-index: 1;
}

.text-content {
  margin: 0;
}

.some {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.text-info:hover {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.link-food {
  .text-content {
    p {
      height: 55%;
      overflow: hidden;
    }
  }
}

:root {
  --modal-duration: 1s;
}



.fa-question {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 10px 15px;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.up {
  width: 50%;
  margin-left: 170px;
  margin-top: 60px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation: modalopen 1s ease-out;

}

.down {
  width: 50%;
  margin-left: 175px;
  margin-top: 95%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation: modalopen 0.5s ease-out 2s;
  animation-fill-mode: backwards;
}

.modal-content {
  background-color: transparent;
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}



.modal-body {
  padding: 8px;
  color: white;
  font-weight: 700;

  p {
    font-size: 16px;

  }
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}


@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fa-shopping-bag:hover,
.fa-shopping-bag:active {
  color: lightgrey;

}