.main-wrapper {
  // background-image: url("bgdark.jpg");
  position:relative;
  background:#F3D32F;
  width: 100%;
  height: 100vh;
  text-align:center;
  .logo-container {
    height:50vh;
    img {margin-top:10%;}
  }
  #form-container {
    position: relative;
    padding:0;margin:0;
    text-align:center;
    label {
      position:absolute;width:100px;height:100px;
      left:50%;margin:15% 0 0 -50px;
      background: image-url("camera.png");
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center center;
      font-size:0;line-height:0;padding:0;
    }
    .form-control-file {
      position:absolute;
      width:0;height:0;
      font-size:0;line-height:0;
    }
    .btn {
      visibility:hidden;font-size:0;line-height:0;
      width:0;height:0;margin:0;padding:0;}
    .form-group {margin:0;}
  }
}

#loading-layer {
  display:block;width:100%;height:0%;
  position:fixed;top:-1000px;right:0;left:0;z-index:100;
  background:#1991EC;
  -webkit-transition: width 0.2s; /* Safari */
  -webkit-transition-delay: 0.2s; /* Safari */
  transition: all 0.2s ease;
  .img {
    position:absolute;top:50%;left:50%;
    width:400px;height:320px;margin:-160px 0 0 -200px;
    div {color:#fff;text-align:center;}
  }
}
#loading-layer.on {top:0;height:100%;}
