.main-wrapper {

  background-image: url("bgdark.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #form-container {

    .form-group {
      label {
        display: none;
      }

      position:relative;
      font-size:100px;
      overflow:hidden;
      border-radius: 50px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background-image: url("camera.png");
      background-repeat: no-repeat;
      background-size: cover;
      color:white;
      background-color:black;
    }
  }
}
