<!-- 3 columns -->
<div class="container">
  <div class="row">
     <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

<!-- 2 columns -->
<div class="container">
  <div class="row">
     <div class="col-sm">
      One of two columns
    </div>
    <div class="col-sm">
      One of two columns
    </div>
  </div>
</div>

<!-- 1 columns -->
<div class="container">
  <div class="row">
     <div class="col-sm">
      One columns
    </div>
  </div>
</div>

<!-- 3 columns(center wider) -->
<div class="container">
  <div class="row">
    <div class="col" style="background:black;">
      1 of 3
    </div>
    <div class="col-8" style="background:red;">
      2 of 3 (wider)
    </div>
    <div class="col" style="background:blue;">
      3 of 3
    </div>
  </div>
</div>
